<div class="container">
  <mat-stepper class="stepper" [linear]="isLinear" #stepper *ngIf="!orderSuccess">
    <mat-step [stepControl]="deliveryAddress">
      <mat-card class="card cart-item">
        <mat-card-title class="card-title">Customer Details</mat-card-title>
        <form [formGroup]="deliveryAddress">
          <ng-template matStepLabel>Customer Details</ng-template>
          <div class="form">
            <div class="row">
              <mat-form-field class="form-field" appearance="fill">
                <mat-label>Name</mat-label>
                <input
                  matInput
                  class="form-input"
                  formControlName="name"
                  
                />
                <mat-error *ngIf="myError('name', 'required')"
                >This is a required field</mat-error
              >
              </mat-form-field>
              <mat-form-field class="form-field" appearance="fill">
                <mat-label>Phone Number</mat-label>
                <input
                  matInput
                  class="form-input"
                  formControlName="phoneNumber"
                  
                />
                <mat-error *ngIf="myError('phoneNumber', 'required')"
                >This is a required field</mat-error
              >
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="form-field address" appearance="fill">
                <mat-label>Address</mat-label>
                <textarea
              matInput
              class="input"
              style="height: 70px"
              formControlName="address"
            ></textarea>
            <mat-error *ngIf="myError('address', 'required')"
            >This is a required field</mat-error
          >
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <mat-form-field class="form-field" appearance="fill">
              <mat-label>city</mat-label>
              <input
                matInput
                class="form-input"
                formControlName="city"
                
              />
              <mat-error *ngIf="myError('city', 'required')"
              >This is a required field</mat-error
            >
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
              <mat-label>State</mat-label>
              <input
                matInput
                class="form-input"
                formControlName="state"
                
              />
              <mat-error *ngIf="myError('state', 'required')"
              >This is a required field</mat-error
            >
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="form-field" appearance="fill">
              <mat-label>Pincode</mat-label>
              <input
                matInput
                class="form-input"
                formControlName="pincode"
                
              />
              <mat-error *ngIf="myError('pincode', 'required')"
              >This is a required field</mat-error
            >
            </mat-form-field>
          </div>

          <div class="row type-row">
            <mat-label class="main-tag">Type</mat-label>
         
            <mat-radio-group formControlName="type">
              <mat-radio-button
                *ngFor="let type of types"
                class="radio-btn"
                color="primary"
                [value]="type"
              >
                <span>{{type}}</span>
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <br>
          <br>
          <div class="btn-row">
            <button class="next-btn"mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-card>
    </mat-step>
    <mat-step>
      <mat-card class="card cart-item">
        <ng-template matStepLabel>Order Summary</ng-template>
        <mat-card-title class="card-title">Order Summary</mat-card-title>
        <div class="item-container" *ngFor="let cartItem of cart">
          <div class="image">
            <img [src]="cartItem.book?.bookImage" alt="image" class="bookimg" />
          </div>
          <div class="info">
            <div class="title"><strong>{{cartItem.book?.bookName}}</strong></div>
            <h6 class="author">{{cartItem.book?.author}}</h6>
            <h4 class="price"><strong>RS. {{cartItem.book?.bookPrice}}</strong></h4>
            <h4 class="quantity">Quantity:<strong>{{cartItem.quantity}}</strong></h4>
            <br />
          
          </div>
        </div>
        <div class="btn-row">
          <h3>Total Price: <span>RS. {{totalPrice}}</span></h3>
          <button (click)="placeOrder()" class="next-btn"mat-button matStepperNext>Place Order</button>
        </div>
      </mat-card>
    </mat-step>
  </mat-stepper>
  <div class="order-success" *ngIf="orderSuccess">
   
    <img src="..\assets\Group 4132.svg" class="success-img" alt="">
    <h2 class="success-msg">Order Placed Successfully</h2><br><br>
    <h4 class="message">
      hurray!!! your order is confirmed the order ids are <span *ngFor="let order of orders">#{{order.orderId}} </span>. save the order id for further communication..
    </h4>
    <br>
    
    <table class="table">
      <tr class="header">
          <th>Email us</th>
          <th>Contact us</th>
          <th>Address</th>
      </tr>
      <tr class="content">
          <td>{{orders[1].user?.email}}</td>
          <td>{{orders[1].phoneNumber}}</td>
          <td>{{orders[1].address}}</td>
      </tr>
  </table>
  <button class="shopping" mat-raised-button routerLink="/home">Continue shopping</button>
  </div>
</div>
